$cp-white:rgba(255,255,255,.87);
$cp-black:rgba(0,0,0,.87);

@function get-colors-list($list-normal:null,$list-accent:null){
   
   $cp-normal:"50","100","200","300","400","500","600","700","800","900";
   $cp-accent:"A100","A200","A300","A400","A700";
      
    $map: null ;
    
    @if $list-normal != null {
      @for $i from 1 through length($list-normal){
          @if $map == null {
              
              $bg : nth( nth( $list-normal,$i ), 1 ) ;
              $c: nth( nth( $list-normal,$i ), 2 ) ;
              $map:(  nth($cp-normal,$i)  :get-colors( $bg , $c ) );
              
          }@else {
              
              $bg : nth( nth( $list-normal,$i ), 1 ) ;
              $c: nth( nth( $list-normal,$i ), 2 ) ;
              $map: map-merge($map, (  nth($cp-normal,$i)   : get-colors(  $bg ,$c )  ));
          }
      }
    }
    
    
    @if $list-accent != null {
      @for $i from 1 through length($list-accent){
          @if $map == null {
              
              $bg : nth( nth( $list-accent,$i ), 1 ) ;
              $c: nth( nth( $list-accent,$i ), 2 ) ;
              $map:(  nth($cp-accent,$i)  :get-colors( $bg , $c ) );
              
          }@else {
              
              $bg : nth( nth( $list-accent,$i ), 1 ) ;
              $c: nth( nth( $list-accent,$i ), 2 ) ;
              $map: map-merge($map, (  nth($cp-accent,$i)   : get-colors(  $bg ,$c )  ));
          }
      }
    }
    
   @return $map; 
}

@function get-colors($bg,$color){
	 @return ("bg":$bg,"c":$color)
}

$cp-red-normal:
("#FFEBEE",$cp-black),
("#FFCDD2",$cp-black),
("#EF9A9A",$cp-black),
("#E57373",$cp-black),
("#EF5350",$cp-white),
("#F44336",$cp-white),
("#E53935",$cp-white),
("#D32F2F",$cp-white),
("#C62828",$cp-white),
("#B71C1C",$cp-white);
$cp-red-accent:
("#FF8A80",$cp-black),
("#FF5252",$cp-white),
("#FF1744",$cp-white),
("#D50000",$cp-white);

$cp-red:get-colors-list($cp-red-normal,$cp-red-accent);

$cp-pink:(
"50":get-colors("#FCE4EC",$cp-black),
"100":get-colors("#F8BBD0",$cp-black),
"200":get-colors("#F48FB1",$cp-black),
"300":get-colors("#F06292",$cp-black),
"400":get-colors("#EC407A",$cp-white),
"500":get-colors("#E91E63",$cp-white),
"600":get-colors("#D81B60",$cp-white),
"700":get-colors("#C2185B",$cp-white),
"800":get-colors("#AD1457",$cp-white),
"900":get-colors("#880E4F",$cp-white),
"A100":get-colors("#FF80AB",$cp-black),
"A200":get-colors("#FF4081",$cp-white),
"A400":get-colors("#F50057",$cp-white),
"A700":get-colors("#C51162",$cp-white)
);

$cp-purple:(
"50":get-colors("#F3E5F5",$cp-black),
"100":get-colors("#E1BEE7",$cp-black),
"200":get-colors("#CE93D8",$cp-black),
"300":get-colors("#BA68C8",$cp-white),
"400":get-colors("#AB47BC",$cp-white),
"500":get-colors("#9C27B0",$cp-white),
"600":get-colors("#8E24AA",$cp-white),
"700":get-colors("#7B1FA2",$cp-white),
"800":get-colors("#6A1B9A",$cp-white),
"900":get-colors("#4A148C",$cp-white),
"A100":get-colors("#EA80FC",$cp-black),
"A200":get-colors("#E040FB",$cp-white),
"A400":get-colors("#D500F9",$cp-white),
"A700":get-colors("#AA00FF",$cp-white)
);

$cp-deeppurple:(
"50":get-colors("#EDE7F6","black"),
"100":get-colors("#D1C4E9","black"),
"200":get-colors("#B39DDB","black"),
"300":get-colors("#9575CD","black"),
"400":get-colors("#7E57C2","black"),
"500":get-colors("#673AB7","black"),
"600":get-colors("#5E35B1","black"),
"700":get-colors("#512DA8","black"),
"800":get-colors("#4527A0","black"),
"900":get-colors("#311B92","black"),
"A100":get-colors("#B388FF","black"),
"A200":get-colors("#7C4DFF","black"),
"A400":get-colors("#651FFF","black"),
"A700":get-colors("#6200EA","black")
);

$cp-indigo:(
"50":get-colors("#E8EAF6",$cp-black),
"100":get-colors("#C5CAE9",$cp-black),
"200":get-colors("#9FA8DA",$cp-black),
"300":get-colors("#7986CB",$cp-white),
"400":get-colors("#5C6BC0",$cp-white),
"500":get-colors("#3F51B5",$cp-white),
"600":get-colors("#3949AB",$cp-white),
"700":get-colors("#303F9F",$cp-white),
"800":get-colors("#283593",$cp-white),
"900":get-colors("#1A237E",$cp-white),
"A100":get-colors("#8C9EFF",$cp-black),
"A200":get-colors("#536DFE",$cp-white),
"A400":get-colors("#3D5AFE",$cp-white),
"A700":get-colors("#304FFE",$cp-white)
);

$cp-blue:(
"50":get-colors("#E3F2FD",$cp-black),
"100":get-colors("#BBDEFB",$cp-black),
"200":get-colors("#90CAF9",$cp-black),
"300":get-colors("#64B5F6",$cp-black),
"400":get-colors("#42A5F5",$cp-black),
"500":get-colors("#2196F3",$cp-black),
"600":get-colors("#1E88E5",$cp-white),
"700":get-colors("#1976D2",$cp-white),
"800":get-colors("#1565C0",$cp-white),
"900":get-colors("#0D47A1",$cp-white),
"A100":get-colors("#82B1FF",$cp-black),
"A200":get-colors("#448AFF",$cp-white),
"A400":get-colors("#2979FF",$cp-white),
"A700":get-colors("#2962FF",$cp-white)
);

$cp-lightblue:(
"50":get-colors("#E1F5FE",$cp-black),
"100":get-colors("#B3E5FC",$cp-black),
"200":get-colors("#81D4FA",$cp-black),
"300":get-colors("#4FC3F7",$cp-black),
"400":get-colors("#29B6F6",$cp-black),
"500":get-colors("#03A9F4",$cp-black),
"600":get-colors("#039BE5",$cp-black),
"700":get-colors("#0288D1",$cp-white),
"800":get-colors("#0277BD",$cp-white),
"900":get-colors("#01579B",$cp-white),
"A100":get-colors("#80D8FF",$cp-black),
"A200":get-colors("#40C4FF",$cp-black),
"A400":get-colors("#00B0FF",$cp-black),
"A700":get-colors("#0091EA",$cp-white)
);

$cp-cyan:(
"50":get-colors("#E0F7FA",$cp-black),
"100":get-colors("#B2EBF2",$cp-black),
"200":get-colors("#80DEEA",$cp-black),
"300":get-colors("#4DD0E1",$cp-black),
"400":get-colors("#26C6DA",$cp-black),
"500":get-colors("#00BCD4",$cp-black),
"600":get-colors("#00ACC1",$cp-black),
"700":get-colors("#0097A7",$cp-white),
"800":get-colors("#00838F",$cp-white),
"900":get-colors("#006064",$cp-white),
"A100":get-colors("#84FFFF",$cp-black),
"A200":get-colors("#18FFFF",$cp-black),
"A400":get-colors("#00E5FF",$cp-black),
"A700":get-colors("#00B8D4",$cp-black)
);

$cp-teal:(
"50":get-colors("#E0F2F1",$cp-black),
"100":get-colors("#B2DFDB",$cp-black),
"200":get-colors("#80CBC4",$cp-black),
"300":get-colors("#4DB6AC",$cp-black),
"400":get-colors("#26A69A",$cp-black),
"500":get-colors("#009688",$cp-white),
"600":get-colors("#00897B",$cp-white),
"700":get-colors("#00796B",$cp-white),
"800":get-colors("#00695C",$cp-white),
"900":get-colors("#004D40",$cp-white),
"A100":get-colors("#A7FFEB",$cp-black),
"A200":get-colors("#64FFDA",$cp-black),
"A400":get-colors("#1DE9B6",$cp-black),
"A700":get-colors("#00BFA5",$cp-black)
);

$cp-green:(
"50":get-colors("#E8F5E9",$cp-black),
"100":get-colors("#C8E6C9",$cp-black),
"200":get-colors("#A5D6A7",$cp-black),
"300":get-colors("#81C784",$cp-black),
"400":get-colors("#66BB6A",$cp-black),
"500":get-colors("#4CAF50",$cp-black),
"600":get-colors("#43A047",$cp-white),
"700":get-colors("#388E3C",$cp-white),
"800":get-colors("#2E7D32",$cp-white),
"900":get-colors("#1B5E20",$cp-white),
"A100":get-colors("#B9F6CA",$cp-black),
"A200":get-colors("#69F0AE",$cp-black),
"A400":get-colors("#00E676",$cp-black),
"A700":get-colors("#00C853",$cp-black)
);

$cp-lightgreen:(
"50":get-colors("#F1F8E9",$cp-black),
"100":get-colors("#DCEDC8",$cp-black),
"200":get-colors("#C5E1A5",$cp-black),
"300":get-colors("#AED581",$cp-black),
"400":get-colors("#9CCC65",$cp-black),
"500":get-colors("#8BC34A",$cp-black),
"600":get-colors("#7CB342",$cp-black),
"700":get-colors("#689F38",$cp-black),
"800":get-colors("#558B2F",$cp-white),
"900":get-colors("#33691E",$cp-white),
"A100":get-colors("#CCFF90",$cp-black),
"A200":get-colors("#B2FF59",$cp-black),
"A400":get-colors("#76FF03",$cp-black),
"A700":get-colors("#64DD17",$cp-black)
);

$cp-lime:(
"50":get-colors("#F9FBE7",$cp-black),
"100":get-colors("#F0F4C3",$cp-black),
"200":get-colors("#E6EE9C",$cp-black),
"300":get-colors("#DCE775",$cp-black),
"400":get-colors("#D4E157",$cp-black),
"500":get-colors("#CDDC39",$cp-black),
"600":get-colors("#C0CA33",$cp-black),
"700":get-colors("#AFB42B",$cp-black),
"800":get-colors("#9E9D24",$cp-black),
"900":get-colors("#827717",$cp-white),
"A100":get-colors("#F4FF81",$cp-black),
"A200":get-colors("#EEFF41",$cp-black),
"A400":get-colors("#C6FF00",$cp-black),
"A700":get-colors("#AEEA00",$cp-black)
);

$cp-yellow:(
"50":get-colors("#FFFDE7",$cp-black),
"100":get-colors("#FFF9C4",$cp-black),
"200":get-colors("#FFF59D",$cp-black),
"300":get-colors("#FFF176",$cp-black),
"400":get-colors("#FFEE58",$cp-black),
"500":get-colors("#FFEB3B",$cp-black),
"600":get-colors("#FDD835",$cp-black),
"700":get-colors("#FBC02D",$cp-black),
"800":get-colors("#F9A825",$cp-black),
"900":get-colors("#F57F17",$cp-black),
"A100":get-colors("#FFFF8D",$cp-black),
"A200":get-colors("#FFFF00",$cp-black),
"A400":get-colors("#FFEA00",$cp-black),
"A700":get-colors("#FFD600",$cp-black)
);


$cp-amber:(
"50":get-colors("#FFF8E1",$cp-black),
"100":get-colors("#FFECB3",$cp-black),
"200":get-colors("#FFE082",$cp-black),
"300":get-colors("#FFD54F",$cp-black),
"400":get-colors("#FFCA28",$cp-black),
"500":get-colors("#FFC107",$cp-black),
"600":get-colors("#FFB300",$cp-black),
"700":get-colors("#FFA000",$cp-black),
"800":get-colors("#FF8F00",$cp-black),
"900":get-colors("#FF6F00",$cp-black),
"A100":get-colors("#FFE57F",$cp-black),
"A200":get-colors("#FFD740",$cp-black),
"A400":get-colors("#FFC400",$cp-black),
"A700":get-colors("#FFAB00",$cp-black)
);

$cp-orange:(
"50":get-colors("#FFF3E0",$cp-black),
"100":get-colors("#FFE0B2",$cp-black),
"200":get-colors("#FFCC80",$cp-black),
"300":get-colors("#FFB74D",$cp-black),
"400":get-colors("#FFA726",$cp-black),
"500":get-colors("#FF9800",$cp-black),
"600":get-colors("#FB8C00",$cp-black),
"700":get-colors("#F57C00",$cp-black),
"800":get-colors("#EF6C00",$cp-black),
"900":get-colors("#E65100",$cp-white),
"A100":get-colors("#FFD180",$cp-black),
"A200":get-colors("#FFAB40",$cp-black),
"A400":get-colors("#FF9100",$cp-black),
"A700":get-colors("#FF6D00",$cp-black)
);

$cp-deeporange:(
"50":get-colors("#FBE9E7",$cp-black),
"100":get-colors("#FFCCBC",$cp-black),
"200":get-colors("#FFAB91",$cp-black),
"300":get-colors("#FF8A65",$cp-black),
"400":get-colors("#FF7043",$cp-black),
"500":get-colors("#FF5722",$cp-black),
"600":get-colors("#F4511E",$cp-white),
"700":get-colors("#E64A19",$cp-white),
"800":get-colors("#D84315",$cp-white),
"900":get-colors("#BF360C",$cp-white),
"A100":get-colors("#FF9E80",$cp-black),
"A200":get-colors("#FF6E40",$cp-black),
"A400":get-colors("#FF3D00",$cp-white),
"A700":get-colors("#DD2C00",$cp-white)
);

$cp-brown:(
"50":get-colors("#EFEBE9",$cp-black),
"100":get-colors("#D7CCC8",$cp-black),
"200":get-colors("#BCAAA4",$cp-black),
"300":get-colors("#A1887F",$cp-white),
"400":get-colors("#8D6E63",$cp-white),
"500":get-colors("#795548",$cp-white),
"600":get-colors("#6D4C41",$cp-white),
"700":get-colors("#5D4037",$cp-white),
"800":get-colors("#4E342E",$cp-white),
"900":get-colors("#3E2723",$cp-white)
);

$cp-gray:(
"50":get-colors("#FAFAFA",$cp-black),
"100":get-colors("#F5F5F5",$cp-black),
"200":get-colors("#EEEEEE",$cp-black),
"300":get-colors("#E0E0E0",$cp-black),
"400":get-colors("#BDBDBD",$cp-black),
"500":get-colors("#9E9E9E",$cp-black),
"600":get-colors("#757575",$cp-white),
"700":get-colors("#616161",$cp-white),
"800":get-colors("#424242",$cp-white),
"900":get-colors("#212121",$cp-white)
);

$cp-bluegray:(
"50":get-colors("#ECEFF1",$cp-black),
"100":get-colors("#CFD8DC",$cp-black),
"200":get-colors("#B0BEC5",$cp-black),
"300":get-colors("#90A4AE",$cp-black),
"400":get-colors("#78909C",$cp-white),
"500":get-colors("#607D8B",$cp-white),
"600":get-colors("#546E7A",$cp-white),
"700":get-colors("#455A64",$cp-white),
"800":get-colors("#37474F",$cp-white),
"900":get-colors("#263238",$cp-white)
);

$cp-basic:(
"white":get-colors("#FFFFFF",$cp-black),
"black":get-colors("#000000",$cp-white)
);

$cp-colors:(
"red":$cp-red,
"pink":$cp-pink,
"purple":$cp-purple,
"deeppurple":$cp-deeppurple,
"indigo":$cp-indigo,
"blue":$cp-blue,
"lightblue":$cp-lightblue,
"cyan":$cp-cyan,
"teal":$cp-teal,
"green":$cp-green,
"lightgreen":$cp-lightgreen,
"lime":$cp-lime,
"yellow":$cp-yellow,
"amber":$cp-amber,
"orange":$cp-orange,
"deeporange":$cp-deeporange,
"brown":$cp-brown,
"gray":$cp-gray,
"bluegray":$cp-bluegray,
"basic":$cp-basic);

@each $name-color,$palete-color in $cp-colors{
  @each $index,$value in $palete-color{
    .cp-#{$name-color}#{$index}{
      background-color: map-get($value,bg);
      color: map-get($value,c);
    } 
  }
}
