.cp-red50 {
  background-color: #FFEBEE;
}

.cp-red100 {
  background-color: #FFCDD2;
}

.cp-red200 {
  background-color: #EF9A9A;
}

.cp-red300 {
  background-color: #E57373;
}

.cp-red400 {
  background-color: #EF5350;
}

.cp-red500 {
  background-color: #F44336;
}

.cp-red600 {
  background-color: #E53935;
}

.cp-red700 {
  background-color: #D32F2F;
}

.cp-red800 {
  background-color: #C62828;
}

.cp-red900 {
  background-color: #B71C1C;
}

.cp-redA100 {
  background-color: #FF8A80;
}

.cp-redA200 {
  background-color: #FF5252;
}

.cp-redA400 {
  background-color: #FF1744;
}

.cp-redA700 {
  background-color: #D50000;
}

.cp-pink50 {
  background-color: #FCE4EC;
}

.cp-pink100 {
  background-color: #F8BBD0;
}

.cp-pink200 {
  background-color: #F48FB1;
}

.cp-pink300 {
  background-color: #F06292;
}

.cp-pink400 {
  background-color: #EC407A;
}

.cp-pink500 {
  background-color: #E91E63;
}

.cp-pink600 {
  background-color: #D81B60;
}

.cp-pink700 {
  background-color: #C2185B;
}

.cp-pink800 {
  background-color: #AD1457;
}

.cp-pink900 {
  background-color: #880E4F;
}

.cp-pinkA100 {
  background-color: #FF80AB;
}

.cp-pinkA200 {
  background-color: #FF4081;
}

.cp-pinkA400 {
  background-color: #F50057;
}

.cp-pinkA700 {
  background-color: #C51162;
}

.cp-purple50 {
  background-color: #F3E5F5;
}

.cp-purple100 {
  background-color: #E1BEE7;
}

.cp-purple200 {
  background-color: #CE93D8;
}

.cp-purple300 {
  background-color: #BA68C8;
}

.cp-purple400 {
  background-color: #AB47BC;
}

.cp-purple500 {
  background-color: #9C27B0;
}

.cp-purple600 {
  background-color: #8E24AA;
}

.cp-purple700 {
  background-color: #7B1FA2;
}

.cp-purple800 {
  background-color: #6A1B9A;
}

.cp-purple900 {
  background-color: #4A148C;
}

.cp-purpleA100 {
  background-color: #EA80FC;
}

.cp-purpleA200 {
  background-color: #E040FB;
}

.cp-purpleA400 {
  background-color: #D500F9;
}

.cp-purpleA700 {
  background-color: #AA00FF;
}

.cp-deeppurple50 {
  background-color: #EDE7F6;
}

.cp-deeppurple100 {
  background-color: #D1C4E9;
}

.cp-deeppurple200 {
  background-color: #B39DDB;
}

.cp-deeppurple300 {
  background-color: #9575CD;
}

.cp-deeppurple400 {
  background-color: #7E57C2;
}

.cp-deeppurple500 {
  background-color: #673AB7;
}

.cp-deeppurple600 {
  background-color: #5E35B1;
}

.cp-deeppurple700 {
  background-color: #512DA8;
}

.cp-deeppurple800 {
  background-color: #4527A0;
}

.cp-deeppurple900 {
  background-color: #311B92;
}

.cp-deeppurpleA100 {
  background-color: #B388FF;
}

.cp-deeppurpleA200 {
  background-color: #7C4DFF;
}

.cp-deeppurpleA400 {
  background-color: #651FFF;
}

.cp-deeppurpleA700 {
  background-color: #6200EA;
}

.cp-indigo50 {
  background-color: #E8EAF6;
}

.cp-indigo100 {
  background-color: #C5CAE9;
}

.cp-indigo200 {
  background-color: #9FA8DA;
}

.cp-indigo300 {
  background-color: #7986CB;
}

.cp-indigo400 {
  background-color: #5C6BC0;
}

.cp-indigo500 {
  background-color: #3F51B5;
}

.cp-indigo600 {
  background-color: #3949AB;
}

.cp-indigo700 {
  background-color: #303F9F;
}

.cp-indigo800 {
  background-color: #283593;
}

.cp-indigo900 {
  background-color: #1A237E;
}

.cp-indigoA100 {
  background-color: #8C9EFF;
}

.cp-indigoA200 {
  background-color: #536DFE;
}

.cp-indigoA400 {
  background-color: #3D5AFE;
}

.cp-indigoA700 {
  background-color: #304FFE;
}

.cp-blue50 {
  background-color: #E3F2FD;
}

.cp-blue100 {
  background-color: #BBDEFB;
}

.cp-blue200 {
  background-color: #90CAF9;
}

.cp-blue300 {
  background-color: #64B5F6;
}

.cp-blue400 {
  background-color: #42A5F5;
}

.cp-blue500 {
  background-color: #2196F3;
}

.cp-blue600 {
  background-color: #1E88E5;
}

.cp-blue700 {
  background-color: #1976D2;
}

.cp-blue800 {
  background-color: #1565C0;
}

.cp-blue900 {
  background-color: #0D47A1;
}

.cp-blueA100 {
  background-color: #82B1FF;
}

.cp-blueA200 {
  background-color: #448AFF;
}

.cp-blueA400 {
  background-color: #2979FF;
}

.cp-blueA700 {
  background-color: #2962FF;
}

.cp-lightblue50 {
  background-color: #E1F5FE;
}

.cp-lightblue100 {
  background-color: #B3E5FC;
}

.cp-lightblue200 {
  background-color: #81D4FA;
}

.cp-lightblue300 {
  background-color: #4FC3F7;
}

.cp-lightblue400 {
  background-color: #29B6F6;
}

.cp-lightblue500 {
  background-color: #03A9F4;
}

.cp-lightblue600 {
  background-color: #039BE5;
}

.cp-lightblue700 {
  background-color: #0288D1;
}

.cp-lightblue800 {
  background-color: #0277BD;
}

.cp-lightblue900 {
  background-color: #01579B;
}

.cp-lightblueA100 {
  background-color: #80D8FF;
}

.cp-lightblueA200 {
  background-color: #40C4FF;
}

.cp-lightblueA400 {
  background-color: #00B0FF;
}

.cp-lightblueA700 {
  background-color: #0091EA;
}

.cp-cyan50 {
  background-color: #E0F7FA;
}

.cp-cyan100 {
  background-color: #B2EBF2;
}

.cp-cyan200 {
  background-color: #80DEEA;
}

.cp-cyan300 {
  background-color: #4DD0E1;
}

.cp-cyan400 {
  background-color: #26C6DA;
}

.cp-cyan500 {
  background-color: #00BCD4;
}

.cp-cyan600 {
  background-color: #00ACC1;
}

.cp-cyan700 {
  background-color: #0097A7;
}

.cp-cyan800 {
  background-color: #00838F;
}

.cp-cyan900 {
  background-color: #006064;
}

.cp-cyanA100 {
  background-color: #84FFFF;
}

.cp-cyanA200 {
  background-color: #18FFFF;
}

.cp-cyanA400 {
  background-color: #00E5FF;
}

.cp-cyanA700 {
  background-color: #00B8D4;
}

.cp-teal50 {
  background-color: #E0F2F1;
}

.cp-teal100 {
  background-color: #B2DFDB;
}

.cp-teal200 {
  background-color: #80CBC4;
}

.cp-teal300 {
  background-color: #4DB6AC;
}

.cp-teal400 {
  background-color: #26A69A;
}

.cp-teal500 {
  background-color: #009688;
}

.cp-teal600 {
  background-color: #00897B;
}

.cp-teal700 {
  background-color: #00796B;
}

.cp-teal800 {
  background-color: #00695C;
}

.cp-teal900 {
  background-color: #004D40;
}

.cp-tealA100 {
  background-color: #A7FFEB;
}

.cp-tealA200 {
  background-color: #64FFDA;
}

.cp-tealA400 {
  background-color: #1DE9B6;
}

.cp-tealA700 {
  background-color: #00BFA5;
}

.cp-green50 {
  background-color: #E8F5E9;
}

.cp-green100 {
  background-color: #C8E6C9;
}

.cp-green200 {
  background-color: #A5D6A7;
}

.cp-green300 {
  background-color: #81C784;
}

.cp-green400 {
  background-color: #66BB6A;
}

.cp-green500 {
  background-color: #4CAF50;
}

.cp-green600 {
  background-color: #43A047;
}

.cp-green700 {
  background-color: #388E3C;
}

.cp-green800 {
  background-color: #2E7D32;
}

.cp-green900 {
  background-color: #1B5E20;
}

.cp-greenA100 {
  background-color: #B9F6CA;
}

.cp-greenA200 {
  background-color: #69F0AE;
}

.cp-greenA400 {
  background-color: #00E676;
}

.cp-greenA700 {
  background-color: #00C853;
}

.cp-lightgreen50 {
  background-color: #F1F8E9;
}

.cp-lightgreen100 {
  background-color: #DCEDC8;
}

.cp-lightgreen200 {
  background-color: #C5E1A5;
}

.cp-lightgreen300 {
  background-color: #AED581;
}

.cp-lightgreen400 {
  background-color: #9CCC65;
}

.cp-lightgreen500 {
  background-color: #8BC34A;
}

.cp-lightgreen600 {
  background-color: #7CB342;
}

.cp-lightgreen700 {
  background-color: #689F38;
}

.cp-lightgreen800 {
  background-color: #558B2F;
}

.cp-lightgreen900 {
  background-color: #33691E;
}

.cp-lightgreenA100 {
  background-color: #CCFF90;
}

.cp-lightgreenA200 {
  background-color: #B2FF59;
}

.cp-lightgreenA400 {
  background-color: #76FF03;
}

.cp-lightgreenA700 {
  background-color: #64DD17;
}

.cp-lime50 {
  background-color: #F9FBE7;
}

.cp-lime100 {
  background-color: #F0F4C3;
}

.cp-lime200 {
  background-color: #E6EE9C;
}

.cp-lime300 {
  background-color: #DCE775;
}

.cp-lime400 {
  background-color: #D4E157;
}

.cp-lime500 {
  background-color: #CDDC39;
}

.cp-lime600 {
  background-color: #C0CA33;
}

.cp-lime700 {
  background-color: #AFB42B;
}

.cp-lime800 {
  background-color: #9E9D24;
}

.cp-lime900 {
  background-color: #827717;
}

.cp-limeA100 {
  background-color: #F4FF81;
}

.cp-limeA200 {
  background-color: #EEFF41;
}

.cp-limeA400 {
  background-color: #C6FF00;
}

.cp-limeA700 {
  background-color: #AEEA00;
}

.cp-yellow50 {
  background-color: #FFFDE7;
}

.cp-yellow100 {
  background-color: #FFF9C4;
}

.cp-yellow200 {
  background-color: #FFF59D;
}

.cp-yellow300 {
  background-color: #FFF176;
}

.cp-yellow400 {
  background-color: #FFEE58;
}

.cp-yellow500 {
  background-color: #FFEB3B;
}

.cp-yellow600 {
  background-color: #FDD835;
}

.cp-yellow700 {
  background-color: #FBC02D;
}

.cp-yellow800 {
  background-color: #F9A825;
}

.cp-yellow900 {
  background-color: #F57F17;
}

.cp-yellowA100 {
  background-color: #FFFF8D;
}

.cp-yellowA200 {
  background-color: #FFFF00;
}

.cp-yellowA400 {
  background-color: #FFEA00;
}

.cp-yellowA700 {
  background-color: #FFD600;
}

.cp-amber50 {
  background-color: #FFF8E1;
}

.cp-amber100 {
  background-color: #FFECB3;
}

.cp-amber200 {
  background-color: #FFE082;
}

.cp-amber300 {
  background-color: #FFD54F;
}

.cp-amber400 {
  background-color: #FFCA28;
}

.cp-amber500 {
  background-color: #FFC107;
}

.cp-amber600 {
  background-color: #FFB300;
}

.cp-amber700 {
  background-color: #FFA000;
}

.cp-amber800 {
  background-color: #FF8F00;
}

.cp-amber900 {
  background-color: #FF6F00;
}

.cp-amberA100 {
  background-color: #FFE57F;
}

.cp-amberA200 {
  background-color: #FFD740;
}

.cp-amberA400 {
  background-color: #FFC400;
}

.cp-amberA700 {
  background-color: #FFAB00;
}

.cp-orange50 {
  background-color: #FFF3E0;
}

.cp-orange100 {
  background-color: #FFE0B2;
}

.cp-orange200 {
  background-color: #FFCC80;
}

.cp-orange300 {
  background-color: #FFB74D;
}

.cp-orange400 {
  background-color: #FFA726;
}

.cp-orange500 {
  background-color: #FF9800;
}

.cp-orange600 {
  background-color: #FB8C00;
}

.cp-orange700 {
  background-color: #F57C00;
}

.cp-orange800 {
  background-color: #EF6C00;
}

.cp-orange900 {
  background-color: #E65100;
}

.cp-orangeA100 {
  background-color: #FFD180;
}

.cp-orangeA200 {
  background-color: #FFAB40;
}

.cp-orangeA400 {
  background-color: #FF9100;
}

.cp-orangeA700 {
  background-color: #FF6D00;
}

.cp-deeporange50 {
  background-color: #FBE9E7;
}

.cp-deeporange100 {
  background-color: #FFCCBC;
}

.cp-deeporange200 {
  background-color: #FFAB91;
}

.cp-deeporange300 {
  background-color: #FF8A65;
}

.cp-deeporange400 {
  background-color: #FF7043;
}

.cp-deeporange500 {
  background-color: #FF5722;
}

.cp-deeporange600 {
  background-color: #F4511E;
}

.cp-deeporange700 {
  background-color: #E64A19;
}

.cp-deeporange800 {
  background-color: #D84315;
}

.cp-deeporange900 {
  background-color: #BF360C;
}

.cp-deeporangeA100 {
  background-color: #FF9E80;
}

.cp-deeporangeA200 {
  background-color: #FF6E40;
}

.cp-deeporangeA400 {
  background-color: #FF3D00;
}

.cp-deeporangeA700 {
  background-color: #DD2C00;
}

.cp-brown50 {
  background-color: #EFEBE9;
}

.cp-brown100 {
  background-color: #D7CCC8;
}

.cp-brown200 {
  background-color: #BCAAA4;
}

.cp-brown300 {
  background-color: #A1887F;
}

.cp-brown400 {
  background-color: #8D6E63;
}

.cp-brown500 {
  background-color: #795548;
}

.cp-brown600 {
  background-color: #6D4C41;
}

.cp-brown700 {
  background-color: #5D4037;
}

.cp-brown800 {
  background-color: #4E342E;
}

.cp-brown900 {
  background-color: #3E2723;
}

.cp-gray50 {
  background-color: #FAFAFA;
}

.cp-gray100 {
  background-color: #F5F5F5;
}

.cp-gray200 {
  background-color: #EEEEEE;
}

.cp-gray300 {
  background-color: #E0E0E0;
}

.cp-gray400 {
  background-color: #BDBDBD;
}

.cp-gray500 {
  background-color: #9E9E9E;
}

.cp-gray600 {
  background-color: #757575;
}

.cp-gray700 {
  background-color: #616161;
}

.cp-gray800 {
  background-color: #424242;
}

.cp-gray900 {
  background-color: #212121;
}

.cp-bluegray50 {
  background-color: #ECEFF1;
}

.cp-bluegray100 {
  background-color: #CFD8DC;
}

.cp-bluegray200 {
  background-color: #B0BEC5;
}

.cp-bluegray300 {
  background-color: #90A4AE;
}

.cp-bluegray400 {
  background-color: #78909C;
}

.cp-bluegray500 {
  background-color: #607D8B;
}

.cp-bluegray600 {
  background-color: #546E7A;
}

.cp-bluegray700 {
  background-color: #455A64;
}

.cp-bluegray800 {
  background-color: #37474F;
}

.cp-bluegray900 {
  background-color: #263238;
}

.cp-basicwhite {
  background-color: #FFFFFF;
}

.cp-basicblack {
  background-color: #000000;
}
