$cp-white:rgba(255,255,255,.87);
$cp-black:rgba(0,0,0,.87);

$cp-red:(
"50":("bg":"#FFEBEE","c":$cp-black),
"100":("bg":"#FFCDD2","c":$cp-black),
"200":("bg":"#EF9A9A","c":$cp-black),
"300":("bg":"#E57373","c":$cp-black),
"400":("bg":"#EF5350","c":$cp-white),
"500":("bg":"#F44336","c":$cp-white),
"600":("bg":"#E53935","c":$cp-white),
"700":("bg":"#D32F2F","c":$cp-white),
"800":("bg":"#C62828","c":$cp-white),
"900":("bg":"#B71C1C","c":$cp-white),
"A100":("bg":"#FF8A80","c":$cp-black),
"A200":("bg":"#FF5252","c":$cp-white),
"A400":("bg":"#FF1744","c":$cp-white),
"A700":("bg":"#D50000","c":$cp-white)
);


$cp-pink:(
"50":("bg":"#FCE4EC","c":$cp-black),
"100":("bg":"#F8BBD0","c":$cp-black),
"200":("bg":"#F48FB1","c":$cp-black),
"300":("bg":"#F06292","c":$cp-black),
"400":("bg":"#EC407A","c":$cp-white),
"500":("bg":"#E91E63","c":$cp-white),
"600":("bg":"#D81B60","c":$cp-white),
"700":("bg":"#C2185B","c":$cp-white),
"800":("bg":"#AD1457","c":$cp-white),
"900":("bg":"#880E4F","c":$cp-white),
"A100":("bg":"#FF80AB","c":$cp-black),
"A200":("bg":"#FF4081","c":$cp-white),
"A400":("bg":"#F50057","c":$cp-white),
"A700":("bg":"#C51162","c":$cp-white)
);

$cp-purple:(
"50":("bg":"#F3E5F5","c":$cp-black),
"100":("bg":"#E1BEE7","c":$cp-black),
"200":("bg":"#CE93D8","c":$cp-black),
"300":("bg":"#BA68C8","c":$cp-white),
"400":("bg":"#AB47BC","c":$cp-white),
"500":("bg":"#9C27B0","c":$cp-white),
"600":("bg":"#8E24AA","c":$cp-white),
"700":("bg":"#7B1FA2","c":$cp-white),
"800":("bg":"#6A1B9A","c":$cp-white),
"900":("bg":"#4A148C","c":$cp-white),
"A100":("bg":"#EA80FC","c":$cp-black),
"A200":("bg":"#E040FB","c":$cp-white),
"A400":("bg":"#D500F9","c":$cp-white),
"A700":("bg":"#AA00FF","c":$cp-white)
);

$cp-deeppurple:(
"50":("bg":"#EDE7F6","c":"black"),
"100":("bg":"#D1C4E9","c":"black"),
"200":("bg":"#B39DDB","c":"black"),
"300":("bg":"#9575CD","c":"black"),
"400":("bg":"#7E57C2","c":"black"),
"500":("bg":"#673AB7","c":"black"),
"600":("bg":"#5E35B1","c":"black"),
"700":("bg":"#512DA8","c":"black"),
"800":("bg":"#4527A0","c":"black"),
"900":("bg":"#311B92","c":"black"),
"A100":("bg":"#B388FF","c":"black"),
"A200":("bg":"#7C4DFF","c":"black"),
"A400":("bg":"#651FFF","c":"black"),
"A700":("bg":"#6200EA","c":"black")
);

$cp-indigo:(
"50":("bg":"#E8EAF6","c":$cp-black),
"100":("bg":"#C5CAE9","c":$cp-black),
"200":("bg":"#9FA8DA","c":$cp-black),
"300":("bg":"#7986CB","c":$cp-white),
"400":("bg":"#5C6BC0","c":$cp-white),
"500":("bg":"#3F51B5","c":$cp-white),
"600":("bg":"#3949AB","c":$cp-white),
"700":("bg":"#303F9F","c":$cp-white),
"800":("bg":"#283593","c":$cp-white),
"900":("bg":"#1A237E","c":$cp-white),
"A100":("bg":"#8C9EFF","c":$cp-black),
"A200":("bg":"#536DFE","c":$cp-white),
"A400":("bg":"#3D5AFE","c":$cp-white),
"A700":("bg":"#304FFE","c":$cp-white)
);

$cp-blue:(
"50":("bg":"#E3F2FD","c":$cp-black),
"100":("bg":"#BBDEFB","c":$cp-black),
"200":("bg":"#90CAF9","c":$cp-black),
"300":("bg":"#64B5F6","c":$cp-black),
"400":("bg":"#42A5F5","c":$cp-black),
"500":("bg":"#2196F3","c":$cp-black),
"600":("bg":"#1E88E5","c":$cp-white),
"700":("bg":"#1976D2","c":$cp-white),
"800":("bg":"#1565C0","c":$cp-white),
"900":("bg":"#0D47A1","c":$cp-white),
"A100":("bg":"#82B1FF","c":$cp-black),
"A200":("bg":"#448AFF","c":$cp-white),
"A400":("bg":"#2979FF","c":$cp-white),
"A700":("bg":"#2962FF","c":$cp-white)
);

$cp-lightblue:(
"50":("bg":"#E1F5FE","c":$cp-black),
"100":("bg":"#B3E5FC","c":$cp-black),
"200":("bg":"#81D4FA","c":$cp-black),
"300":("bg":"#4FC3F7","c":$cp-black),
"400":("bg":"#29B6F6","c":$cp-black),
"500":("bg":"#03A9F4","c":$cp-black),
"600":("bg":"#039BE5","c":$cp-black),
"700":("bg":"#0288D1","c":$cp-white),
"800":("bg":"#0277BD","c":$cp-white),
"900":("bg":"#01579B","c":$cp-white),
"A100":("bg":"#80D8FF","c":$cp-black),
"A200":("bg":"#40C4FF","c":$cp-black),
"A400":("bg":"#00B0FF","c":$cp-black),
"A700":("bg":"#0091EA","c":$cp-white)
);

$cp-cyan:(
"50":("bg":"#E0F7FA","c":$cp-black),
"100":("bg":"#B2EBF2","c":$cp-black),
"200":("bg":"#80DEEA","c":$cp-black),
"300":("bg":"#4DD0E1","c":$cp-black),
"400":("bg":"#26C6DA","c":$cp-black),
"500":("bg":"#00BCD4","c":$cp-black),
"600":("bg":"#00ACC1","c":$cp-black),
"700":("bg":"#0097A7","c":$cp-white),
"800":("bg":"#00838F","c":$cp-white),
"900":("bg":"#006064","c":$cp-white),
"A100":("bg":"#84FFFF","c":$cp-black),
"A200":("bg":"#18FFFF","c":$cp-black),
"A400":("bg":"#00E5FF","c":$cp-black),
"A700":("bg":"#00B8D4","c":$cp-black)
);

$cp-teal:(
"50":("bg":"#E0F2F1","c":$cp-black),
"100":("bg":"#B2DFDB","c":$cp-black),
"200":("bg":"#80CBC4","c":$cp-black),
"300":("bg":"#4DB6AC","c":$cp-black),
"400":("bg":"#26A69A","c":$cp-black),
"500":("bg":"#009688","c":$cp-white),
"600":("bg":"#00897B","c":$cp-white),
"700":("bg":"#00796B","c":$cp-white),
"800":("bg":"#00695C","c":$cp-white),
"900":("bg":"#004D40","c":$cp-white),
"A100":("bg":"#A7FFEB","c":$cp-black),
"A200":("bg":"#64FFDA","c":$cp-black),
"A400":("bg":"#1DE9B6","c":$cp-black),
"A700":("bg":"#00BFA5","c":$cp-black)
);

$cp-green:(
"50":("bg":"#E8F5E9","c":$cp-black),
"100":("bg":"#C8E6C9","c":$cp-black),
"200":("bg":"#A5D6A7","c":$cp-black),
"300":("bg":"#81C784","c":$cp-black),
"400":("bg":"#66BB6A","c":$cp-black),
"500":("bg":"#4CAF50","c":$cp-black),
"600":("bg":"#43A047","c":$cp-white),
"700":("bg":"#388E3C","c":$cp-white),
"800":("bg":"#2E7D32","c":$cp-white),
"900":("bg":"#1B5E20","c":$cp-white),
"A100":("bg":"#B9F6CA","c":$cp-black),
"A200":("bg":"#69F0AE","c":$cp-black),
"A400":("bg":"#00E676","c":$cp-black),
"A700":("bg":"#00C853","c":$cp-black)
);

$cp-lightgreen:(
"50":("bg":"#F1F8E9","c":$cp-black),
"100":("bg":"#DCEDC8","c":$cp-black),
"200":("bg":"#C5E1A5","c":$cp-black),
"300":("bg":"#AED581","c":$cp-black),
"400":("bg":"#9CCC65","c":$cp-black),
"500":("bg":"#8BC34A","c":$cp-black),
"600":("bg":"#7CB342","c":$cp-black),
"700":("bg":"#689F38","c":$cp-black),
"800":("bg":"#558B2F","c":$cp-white),
"900":("bg":"#33691E","c":$cp-white),
"A100":("bg":"#CCFF90","c":$cp-black),
"A200":("bg":"#B2FF59","c":$cp-black),
"A400":("bg":"#76FF03","c":$cp-black),
"A700":("bg":"#64DD17","c":$cp-black)
);

$cp-lime:(
"50":("bg":"#F9FBE7","c":$cp-black),
"100":("bg":"#F0F4C3","c":$cp-black),
"200":("bg":"#E6EE9C","c":$cp-black),
"300":("bg":"#DCE775","c":$cp-black),
"400":("bg":"#D4E157","c":$cp-black),
"500":("bg":"#CDDC39","c":$cp-black),
"600":("bg":"#C0CA33","c":$cp-black),
"700":("bg":"#AFB42B","c":$cp-black),
"800":("bg":"#9E9D24","c":$cp-black),
"900":("bg":"#827717","c":$cp-white),
"A100":("bg":"#F4FF81","c":$cp-black),
"A200":("bg":"#EEFF41","c":$cp-black),
"A400":("bg":"#C6FF00","c":$cp-black),
"A700":("bg":"#AEEA00","c":$cp-black)
);

$cp-yellow:(
"50":("bg":"#FFFDE7","c":$cp-black),
"100":("bg":"#FFF9C4","c":$cp-black),
"200":("bg":"#FFF59D","c":$cp-black),
"300":("bg":"#FFF176","c":$cp-black),
"400":("bg":"#FFEE58","c":$cp-black),
"500":("bg":"#FFEB3B","c":$cp-black),
"600":("bg":"#FDD835","c":$cp-black),
"700":("bg":"#FBC02D","c":$cp-black),
"800":("bg":"#F9A825","c":$cp-black),
"900":("bg":"#F57F17","c":$cp-black),
"A100":("bg":"#FFFF8D","c":$cp-black),
"A200":("bg":"#FFFF00","c":$cp-black),
"A400":("bg":"#FFEA00","c":$cp-black),
"A700":("bg":"#FFD600","c":$cp-black)
);


$cp-amber:(
"50":("bg":"#FFF8E1","c":$cp-black),
"100":("bg":"#FFECB3","c":$cp-black),
"200":("bg":"#FFE082","c":$cp-black),
"300":("bg":"#FFD54F","c":$cp-black),
"400":("bg":"#FFCA28","c":$cp-black),
"500":("bg":"#FFC107","c":$cp-black),
"600":("bg":"#FFB300","c":$cp-black),
"700":("bg":"#FFA000","c":$cp-black),
"800":("bg":"#FF8F00","c":$cp-black),
"900":("bg":"#FF6F00","c":$cp-black),
"A100":("bg":"#FFE57F","c":$cp-black),
"A200":("bg":"#FFD740","c":$cp-black),
"A400":("bg":"#FFC400","c":$cp-black),
"A700":("bg":"#FFAB00","c":$cp-black)
);

$cp-orange:(
"50":("bg":"#FFF3E0","c":$cp-black),
"100":("bg":"#FFE0B2","c":$cp-black),
"200":("bg":"#FFCC80","c":$cp-black),
"300":("bg":"#FFB74D","c":$cp-black),
"400":("bg":"#FFA726","c":$cp-black),
"500":("bg":"#FF9800","c":$cp-black),
"600":("bg":"#FB8C00","c":$cp-black),
"700":("bg":"#F57C00","c":$cp-black),
"800":("bg":"#EF6C00","c":$cp-black),
"900":("bg":"#E65100","c":$cp-white),
"A100":("bg":"#FFD180","c":$cp-black),
"A200":("bg":"#FFAB40","c":$cp-black),
"A400":("bg":"#FF9100","c":$cp-black),
"A700":("bg":"#FF6D00","c":$cp-black)
);

$cp-deeporange:(
"50":("bg":"#FBE9E7","c":$cp-black),
"100":("bg":"#FFCCBC","c":$cp-black),
"200":("bg":"#FFAB91","c":$cp-black),
"300":("bg":"#FF8A65","c":$cp-black),
"400":("bg":"#FF7043","c":$cp-black),
"500":("bg":"#FF5722","c":$cp-black),
"600":("bg":"#F4511E","c":$cp-white),
"700":("bg":"#E64A19","c":$cp-white),
"800":("bg":"#D84315","c":$cp-white),
"900":("bg":"#BF360C","c":$cp-white),
"A100":("bg":"#FF9E80","c":$cp-black),
"A200":("bg":"#FF6E40","c":$cp-black),
"A400":("bg":"#FF3D00","c":$cp-white),
"A700":("bg":"#DD2C00","c":$cp-white)
);

$cp-brown:(
"50":("bg":"#EFEBE9","c":$cp-black),
"100":("bg":"#D7CCC8","c":$cp-black),
"200":("bg":"#BCAAA4","c":$cp-black),
"300":("bg":"#A1887F","c":$cp-white),
"400":("bg":"#8D6E63","c":$cp-white),
"500":("bg":"#795548","c":$cp-white),
"600":("bg":"#6D4C41","c":$cp-white),
"700":("bg":"#5D4037","c":$cp-white),
"800":("bg":"#4E342E","c":$cp-white),
"900":("bg":"#3E2723","c":$cp-white)
);

$cp-gray:(
"50":("bg":"#FAFAFA","c":$cp-black),
"100":("bg":"#F5F5F5","c":$cp-black),
"200":("bg":"#EEEEEE","c":$cp-black),
"300":("bg":"#E0E0E0","c":$cp-black),
"400":("bg":"#BDBDBD","c":$cp-black),
"500":("bg":"#9E9E9E","c":$cp-black),
"600":("bg":"#757575","c":$cp-white),
"700":("bg":"#616161","c":$cp-white),
"800":("bg":"#424242","c":$cp-white),
"900":("bg":"#212121","c":$cp-white)
);

$cp-bluegray:(
"50":("bg":"#ECEFF1","c":$cp-black),
"100":("bg":"#CFD8DC","c":$cp-black),
"200":("bg":"#B0BEC5","c":$cp-black),
"300":("bg":"#90A4AE","c":$cp-black),
"400":("bg":"#78909C","c":$cp-white),
"500":("bg":"#607D8B","c":$cp-white),
"600":("bg":"#546E7A","c":$cp-white),
"700":("bg":"#455A64","c":$cp-white),
"800":("bg":"#37474F","c":$cp-white),
"900":("bg":"#263238","c":$cp-white)
);

$cp-basic:(
"white":("bg":"#FFFFFF","c":$cp-black),
"black":("bg":"#000000","c":$cp-white)
);

$cp-colors:(
"red":$cp-red,
"pink":$cp-pink,
"purple":$cp-purple,
"deeppurple":$cp-deeppurple,
"indigo":$cp-indigo,
"blue":$cp-blue,
"lightblue":$cp-lightblue,
"cyan":$cp-cyan,
"teal":$cp-teal,
"green":$cp-green,
"lightgreen":$cp-lightgreen,
"lime":$cp-lime,
"yellow":$cp-yellow,
"amber":$cp-amber,
"orange":$cp-orange,
"deeporange":$cp-deeporange,
"brown":$cp-brown,
"gray":$cp-gray,
"bluegray":$cp-bluegray,
"basic":$cp-basic);

@each $name-color,$palete-color in $cp-colors{
  @each $index,$value in $palete-color{
    .cp-#{$name-color}#{$index}{
      background-color: map-get($value,bg);
      color: map-get($value,c);
    } 
  }
}
