@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (resize-none:'none',resize-vertical:'vertical',resize-horizontal:'horizontal',resize:'both'){
	.#{$key}{
		resize:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		resize:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (resize-none:'none',resize-vertical:'vertical',resize-horizontal:'horizontal',resize:'both'){
			.#{$sizeScreen}\:#{$key}{
				resize:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     resize:#{$value};
	     }
      }
		}
	}
}
