@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (max-w-0:'0rem',max-w-none:'none',max-w-xs:'20rem',max-w-sm:'24rem',max-w-md:'28rem',max-w-lg:'32rem',max-w-xl:'36rem',max-w-2xl:'42rem',max-w-3xl:'48rem',max-w-4xl:'56rem',max-w-5xl:'64rem',max-w-6xl:'72rem',max-w-7xl:'80rem',max-w-full:'100%',max-w-min:'min-content',max-w-max:'max-content'){
	.#{$key}{
		max-width:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		max-width:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (max-w-0:'0rem',max-w-none:'none',max-w-xs:'20rem',max-w-sm:'24rem',max-w-md:'28rem',max-w-lg:'32rem',max-w-xl:'36rem',max-w-2xl:'42rem',max-w-3xl:'48rem',max-w-4xl:'56rem',max-w-5xl:'64rem',max-w-6xl:'72rem',max-w-7xl:'80rem',max-w-full:'100%',max-w-min:'min-content',max-w-max:'max-content'){
			.#{$sizeScreen}\:#{$key}{
				max-width:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     max-width:#{$value};
	     }
      }
		}
	}
}
