@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (list-none:'none',list-disc:'disc',list-decimal:'decimal'){
	.#{$key}{
		list-style-type:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		list-style-type:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (list-none:'none',list-disc:'disc',list-decimal:'decimal'){
			.#{$sizeScreen}\:#{$key}{
				list-style-type:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     list-style-type:#{$value};
	     }
      }
		}
	}
}
