@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (list-inside:'inside',list-outside:'outside'){
	.#{$key}{
		list-style-position:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		list-style-position:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (list-inside:'inside',list-outside:'outside'){
			.#{$sizeScreen}\:#{$key}{
				list-style-position:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     list-style-position:#{$value};
	     }
      }
		}
	}
}
