@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (pt-0:'0px',pt-0\.5:'0.125rem',pt-1:'0.25rem',pt-1\.5:'0.375rem',pt-2:'0.5rem',pt-2\.5:'0.625rem',pt-3:'0.75rem',pt-3\.5:'0.875rem',pt-4:'1rem',pt-5:'1.25rem',pt-6:'1.5rem',pt-7:'1.75rem',pt-8:'2rem',pt-9:'2.25rem',pt-10:'2.5rem',pt-11:'2.75rem',pt-12:'3rem',pt-14:'3.5rem',pt-16:'4rem',pt-20:'5rem',pt-24:'6rem',pt-28:'7rem',pt-32:'8rem',pt-36:'9rem',pt-40:'10rem',pt-44:'11rem',pt-48:'12rem',pt-52:'13rem',pt-56:'14rem',pt-60:'15rem',pt-64:'16rem',pt-72:'18rem',pt-80:'20rem',pt-96:'24rem',pt-px:'1px'){
	.#{$key}{
		padding-top:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		padding-top:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (pt-0:'0px',pt-0\.5:'0.125rem',pt-1:'0.25rem',pt-1\.5:'0.375rem',pt-2:'0.5rem',pt-2\.5:'0.625rem',pt-3:'0.75rem',pt-3\.5:'0.875rem',pt-4:'1rem',pt-5:'1.25rem',pt-6:'1.5rem',pt-7:'1.75rem',pt-8:'2rem',pt-9:'2.25rem',pt-10:'2.5rem',pt-11:'2.75rem',pt-12:'3rem',pt-14:'3.5rem',pt-16:'4rem',pt-20:'5rem',pt-24:'6rem',pt-28:'7rem',pt-32:'8rem',pt-36:'9rem',pt-40:'10rem',pt-44:'11rem',pt-48:'12rem',pt-52:'13rem',pt-56:'14rem',pt-60:'15rem',pt-64:'16rem',pt-72:'18rem',pt-80:'20rem',pt-96:'24rem',pt-px:'1px'){
			.#{$sizeScreen}\:#{$key}{
				padding-top:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     padding-top:#{$value};
	     }
      }
		}
	}
}
