@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (bg-clip-border:'border-box',bg-clip-padding:'padding-box',bg-clip-content:'content-box',bg-clip-text:' text'){
	.#{$key}{
		background-clip:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		background-clip:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (bg-clip-border:'border-box',bg-clip-padding:'padding-box',bg-clip-content:'content-box',bg-clip-text:' text'){
			.#{$sizeScreen}\:#{$key}{
				background-clip:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     background-clip:#{$value};
	     }
      }
		}
	}
}
