@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (box-border:'border-box',box-content:'content-box'){
	.#{$key}{
		box-sizing:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		box-sizing:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (box-border:'border-box',box-content:'content-box'){
			.#{$sizeScreen}\:#{$key}{
				box-sizing:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     box-sizing:#{$value};
	     }
      }
		}
	}
}
