@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (float-left:'left',float-right:'right',float-none:'none'){
	.#{$key}{
		float:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		float:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (float-left:'left',float-right:'right',float-none:'none'){
			.#{$sizeScreen}\:#{$key}{
				float:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     float:#{$value};
	     }
      }
		}
	}
}
