@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (object-contain:'contain',object-cover:'cover',object-fill:'fill',object-none:'none',object-scale-down:'scale-down'){
	.#{$key}{
		object-fit:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		object-fit:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (object-contain:'contain',object-cover:'cover',object-fill:'fill',object-none:'none',object-scale-down:'scale-down'){
			.#{$sizeScreen}\:#{$key}{
				object-fit:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     object-fit:#{$value};
	     }
      }
		}
	}
}
