@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (z-0:'0',z-10:'10',z-20:'20',z-30:'30',z-40:'40',z-50:'50',z-auto:'auto'){
	.#{$key}{
		z-index:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		z-index:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (z-0:'0',z-10:'10',z-20:'20',z-30:'30',z-40:'40',z-50:'50',z-auto:'auto'){
			.#{$sizeScreen}\:#{$key}{
				z-index:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     z-index:#{$value};
	     }
      }
		}
	}
}
