@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (flex-shrink-0:'0',flex-shrink:'1'){
	.#{$key}{
		flex-shrink:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		flex-shrink:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (flex-shrink-0:'0',flex-shrink:'1'){
			.#{$sizeScreen}\:#{$key}{
				flex-shrink:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     flex-shrink:#{$value};
	     }
      }
		}
	}
}
