@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (row-start-1:'1',row-start-2:'2',row-start-3:'3',row-start-4:'4',row-start-5:'5',row-start-6:'6',row-start-auto:'auto'){
	.#{$key}{
		grid-row-start:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		grid-row-start:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (row-start-1:'1',row-start-2:'2',row-start-3:'3',row-start-4:'4',row-start-5:'5',row-start-6:'6',row-start-auto:'auto'){
			.#{$sizeScreen}\:#{$key}{
				grid-row-start:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     grid-row-start:#{$value};
	     }
      }
		}
	}
}
