@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (content-center:'center',content-start:'flex-start',content-end:'flex-end',content-between:'space-between',content-around:'space-around',content-evenly:'space-evenly'){
	.#{$key}{
		align-content:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		align-content:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (content-center:'center',content-start:'flex-start',content-end:'flex-end',content-between:'space-between',content-around:'space-around',content-evenly:'space-evenly'){
			.#{$sizeScreen}\:#{$key}{
				align-content:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     align-content:#{$value};
	     }
      }
		}
	}
}
