@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (justify-start:'flex-start',justify-end:'flex-end',justify-center:'center',justify-between:'space-between',justify-around:'space-around',justify-evenly:'space-evenly'){
	.#{$key}{
		justify-content:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		justify-content:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (justify-start:'flex-start',justify-end:'flex-end',justify-center:'center',justify-between:'space-between',justify-around:'space-around',justify-evenly:'space-evenly'){
			.#{$sizeScreen}\:#{$key}{
				justify-content:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     justify-content:#{$value};
	     }
      }
		}
	}
}
