@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (place-items-center:'center',place-items-start:'start',place-items-end:'end',place-items-stretch:'stretch'){
	.#{$key}{
		place-items:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		place-items:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (place-items-center:'center',place-items-start:'start',place-items-end:'end',place-items-stretch:'stretch'){
			.#{$sizeScreen}\:#{$key}{
				place-items:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     place-items:#{$value};
	     }
      }
		}
	}
}
