@import "../screen.scss";
@import "../state.scss";
@each $key, $value in (border-right-solid:'solid',border-right-dashed:'dashed',border-right-dotted:'dotted',border-right-double:'double',border-right-none:'none'){
	.#{$key}{
		border-right-style:#{$value};
	}
 @each $valueState in $state{
	.#{$key}\:#{$valueState}:#{$valueState}{
		border-right-style:#{$value};
	}
 }
};
@each $sizeScreen, $pixel in $screen{
	@media (min-width: #{map-get($pixel,min)}#{px}) and (max-width: #{map-get($pixel,max)}#{px}){
		@each $key, $value in (border-right-solid:'solid',border-right-dashed:'dashed',border-right-dotted:'dotted',border-right-double:'double',border-right-none:'none'){
			.#{$sizeScreen}\:#{$key}{
				border-right-style:#{$value};
			}
      @each $valueState in $state{
	     .#{$sizeScreen}\:#{$key}\:#{$valueState}:#{$valueState}{
		     border-right-style:#{$value};
	     }
      }
		}
	}
}
